$default-basis-width: 1920px;

// STRIP UNIT
// strips the unit of measure from supplied value
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// CONVERT TO VW
// converts unit of measure to `vw` units
@function convert-to-vw($value, $base-value: $default-basis-width) {
  @if ($value == 'auto') { @return auto; }
  $value: strip-unit($value) / strip-unit($base-value) * 100vw;
  @if ($value == 0vw) { $value: 0; } // Turn 0vw into 0
  @return $value;
}

// VW-CALC
// calculates the approximate `vw` unit of measure of supplied value
// based on supplied base-width
// optionally supports a comma-seperated list
@function vw-calc($values, $base-value: $default-basis-width, $comma-seperated: false) {
  $max: length($values);

  @if $max == 1 { @return convert-to-vw(nth($values, 1), $base-value); }

  $vwValues: ();
  @for $i from 1 through $max {
    @if ($comma-seperated) {
      $vwValues: append($vwValues, convert-to-vw(nth($values, $i), $base-value), comma);
    } @else {
      $vwValues: append($vwValues, convert-to-vw(nth($values, $i), $base-value));
    }
  }
  @return $vwValues;
}
