// outputs the content for (no media queries/XLarge)
@mixin desktop($properties: ()) {
  @media only screen and (min-width: $tablet-landscape-width + 1){
    @each $property, $values in $properties {
      #{$property}: $values;
    }
  }
}

// Media Queries for landscape tablet (Large)
@mixin tablet-landscape($properties: ()) {
  @media only screen and (min-width: $tablet-basis-width + 1) and (max-width: $tablet-landscape-width) {
    @each $property, $values in $properties {
      #{$property}: $values;
    }
  }
}

// Media Queries for tablet and landscape phones (Medium)
@mixin tablet($properties: ()) {
  @media only screen and (min-width: $phone-width +1) and (max-width: $tablet-basis-width) {
    @each $property, $values in $properties {
      #{$property}: $values;
    }
  }
}

// Media Queries for Phone (Small)
@mixin phone($properties: ()) {
  @media only screen and (max-width: $phone-width) {
    @each $property, $values in $properties {
      #{$property}: $values;
    }
  }
}
