
$base-font: 'Roboto', sans-serif !default;

$phone-basis-width: 320px;
$phone-width: 640px;
$phone-landscape-width: 731px;

$tablet-basis-width: 768px;
$tablet-width: 768px;
$tablet-landscape-width: 1024px;

$desktop-basis-width: 1920px;
$desktop-landscape-width: 1920px;
