@import '../toolkit/app';
// 15.625rem = 250px
// 1.5rem    = 24px

.imageContainer {
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.image {
  width: 15.625rem;
  height: auto;
}

.favoriteOVerlay {
  background-color: $color-yellow;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 1px 2px 5px 1px rgba($color-purple-darker, .3);
  height: 1.75rem;
  line-height: 2.6rem;
  text-align: center;
  transition: transform .5s ease-in-out;
  top: 0.5rem;
  position: absolute;
  width: 25%;

  > svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: $color-purple;
    stroke-width: 1.5;
  }
}

.slideIn {
  transform: translateX(0%);
}

.slideOut {
  transform: translateX(-125%);
}
