@import '../toolkit/app';

.base {
  background-color: $color-yellow;
  border: none;
  border-radius: 4px;
  outline: none;

  @include desktop((
    padding: vw-calc(11 25, $desktop-basis-width)
  ));

  @include tablet-landscape((
    padding: vw-calc(8 20, $tablet-landscape-width)
  ));

  @include tablet((
    padding: vw-calc(8 15, $tablet-basis-width)
  ));

  @include phone((
    padding: vw-calc(8 10, $phone-basis-width)
  ));

  > svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: $color-purple;
    stroke-width: 1.5;
  }

  &:focus {
    box-sizing: border-box;
    background-color: $color-yellow-hover;
    box-shadow: 0 0 4px 2px rgba(98, 12, 227, .5);
    outline: 0;
  }
}

.activeButton {
  @extend .base;
  cursor: pointer;

  &:hover {
    background-color: $color-yellow-hover;
  }
}

.inactiveButton {
  @extend .base;
  cursor: not-allowed;

  &:focus {
    background-color: $color-yellow;
  }
}

.spin{
  animation-name: spin;
  animation-duration: 1750ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
