@import '../toolkit/app';

.input {
  background: none;
  border: 0.5px solid $color-purple;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color-purple-darker;
  display: flex;
  font-family: $base_font;
  height: 100%;
  outline: 0;
  padding: 0 1rem;
  margin-right: 1rem;
  width: 40vw;

  @include desktop((
    font-size: vw-calc(20, $desktop-basis-width),
    line-height: vw-calc(22, $desktop-basis-width)
  ));

  @include tablet-landscape((
    font-size: vw-calc(20, $tablet-landscape-width),
    line-height: vw-calc(22, $tablet-landscape-width)
  ));

  @include tablet((
    font-size: vw-calc(20, $tablet-basis-width),
    line-height: vw-calc(22, $tablet-basis-width)
  ));

  @include phone((
    font-size: vw-calc(20, $phone-basis-width),
    line-height: vw-calc(22, $phone-basis-width)
  ));

  &:focus {
    border: none;
    box-shadow: 0 0 4px 2px rgba(98, 12, 227, .5);
  }

  &:invalid {
    box-shadow: none !important;
  }
}
