@import '../toolkit/app';
// 15.625rem = 250px

.imageContainer {
  height: 60vh;
  overflow-y: scroll;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.imageList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 1rem;
}

.emptyList {
  align-items: center;
  background-color: rgba($grey, 0.25);
  color: $grey;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.loadingOverlay {
  align-items: center;
  background-color: rgba($color-purple-darker, 0.5);
  color: $true-white;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.isLoading {
  opacity: 0;
}
