@import '../toolkit/app';

.containerBase {
  border-bottom: 1px solid $color-purple;
  display: flex;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
}

.fieldset {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.favoritesLabel {
  align-items: center;
  color: $color-purple-darker;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.disabledFavorites {
  opacity: 0.5;
  cursor: not-allowed;
}
