@import 'toolkit/app';

html,
body {
  box-sizing: border-box;
  font-family: $base-font;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainContainer {
  width: 95vw;

  @include desktop((
    margin: vw-calc(40 auto, $desktop-basis-width)
  ));

  @include tablet-landscape((
    margin: vw-calc(40 auto, $desktop-basis-width)
  ));

  @include tablet((
    margin: vw-calc(20 auto, $desktop-basis-width)
  ));

  @include phone((
    margin: vw-calc(10 auto, $desktop-basis-width)
  ));
}

// svg defaults
svg.correlated-svgs {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

svg.img {
  stroke: black;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

// svg fills
.addFavorite {
    fill: none;
}

.isFavorite {
    fill: $color-purple;
    stroke: none;
}

// pagination plugin styles

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

// .pagination > .active > a {}

.pagination > li > a {
  border: 1px solid rgba($color-purple, 0.25);
  outline: none;
  cursor: pointer;

  @include desktop((
    padding: vw-calc(11 25, $desktop-basis-width)
  ));

  @include tablet-landscape((
    padding: vw-calc(8 20, $tablet-landscape-width)
  ));

  @include tablet((
    padding: vw-calc(8 15, $tablet-basis-width)
  ));

  @include phone((
    padding: vw-calc(8 10, $phone-basis-width)
  ));
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $color-yellow;
  outline: none ;
  cursor: default;
}

.pagination > li > a,
.pagination > li > span {
  color: $color-purple
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset
}
